#root {
  display: flex;
  transform: translate3d(50px, 50px, 0);
  justify-content: flex-start;
}

.serction {
  background-color: #f00;
  // stylelint-disable-next-line
  background-color: #00f;
  .item {
    width: 100px;
  }
}

// stylelint-disable-next-line
.item {
  height: 100px;
}

.insert {
  // stylelint-disable-next-line
  display: block
}

// stylelint-disable-next-line
.alter:after {color: red; content: 'example'}

.delete {
  // stylelint-disable-next-line
  display: block;;
}
